<footer class="footer">

    <div class="footer-container">

        <!--=========================================
                    NAVEGACIÓN
        ==========================================-->

        <div class="footer-column">

            <h3>Navegación</h3>

            <ul>

                <li><a routerLink="/">Inicio</a></li>

                <li><a>Explorar</a></li>

                <li><a>Laboratorios</a></li>

                <li><a>Biblioteca</a></li>

                <li>

                    <a (click)="openAbout()">

                        Acerca de Nosotros

                    </a>

                </li>

            </ul>

        </div>

        <!--=========================================
                    CONTACTO
        ==========================================-->

        <div class="footer-column">

            <h3>Contacto</h3>

            <p>info@ruralsteamlab.com</p>

            <p>+57 321 962 6339</p>

            <p>Vélez · Santander · Colombia</p>

            <p>ruralsteamlab.com</p>

        </div>

        <!--=========================================
                    LICENCIA
        ==========================================-->

        <div class="footer-column">

            <h3>Licencia</h3>

            <img
                src="assets/licenses/cc-by-nc-sa.webp"
                alt="Creative Commons"
                class="cc-logo">

            <p>

                Recursos educativos bajo licencia

                <strong>

                    Creative Commons
                    CC BY-NC-SA 4.0

                </strong>

            </p>

        </div>

        <!--=========================================
                    LOGO
        ==========================================-->

        <div class="footer-column footer-brand">

            <img
                src="assets/logo/logo.png"
                alt="Rural STEAM Lab"
                class="footer-logo"
                (click)="openAbout()">

        </div>

    </div>

    <!--=========================================
                COPYRIGHT
    ==========================================-->

    <div class="footer-bottom">

        <p>

            © {{ year }} Rural STEAM Lab® · Tellus {{ version }}

        </p>

        <p>

            Desarrollado por

            <strong>

                Esp. Ing. Henson Alberto Medina Castillo

            </strong>

        </p>

    </div>

</footer>