<nav class="navbar">

    <div class="logo">

        <img
            src="logos/logo.png"
            alt="Rural STEAM Lab">

        <span (click)="openAbout()">

            Rural STEAM Lab

        </span>

    </div>

    <ul>

        <li><a routerLink="/">Inicio</a></li>

        <li><a>Explorar</a></li>

        <li><a>IA</a></li>

        <li><a>Laboratorios</a></li>

        <li><a>Biblioteca</a></li>

    </ul>

    <button>Entrar</button>

</nav>

<app-about-modal></app-about-modal>