.navbar{

    height:80px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 60px;

    background:#071226;

    color:white;

    box-shadow:0 6px 18px rgba(0,0,0,.25);

}

.logo{

    display:flex;

    align-items:center;

    gap:15px;

}

.logo img{

    width:50px;

}

.logo span{

    font-size:1.5rem;

    font-weight:700;

    color:#66BB6A;

}

ul{

    display:flex;

    list-style:none;

    gap:35px;

}

a{

    text-decoration:none;

    color:white;

    transition:.3s;

}

a:hover{

    color:#66BB6A;

}

button{

    padding:12px 28px;

    border:none;

    border-radius:12px;

    background:#2E7D32;

    color:white;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#66BB6A;

}