<nav class="navbar">

    <div class="logo">

        <img
            src="assets/logo/logo.png"
            alt="Rural STEAM Lab"
            class="logo-img"
            (click)="openAbout()">

    </div>

    <ul class="nav-menu">

        <li>
            <a routerLink="/" class="active">
                Inicio
            </a>
        </li>

        <li>
            <a>
                Explorar
            </a>
        </li>

        <li>
            <a>
                IA
            </a>
        </li>

        <li>
            <a>
                Laboratorios
            </a>
        </li>

        <li>
            <a>
                Biblioteca
            </a>
        </li>

    </ul>

    <button class="login-btn">

        <span>Entrar</span>

    </button>

</nav>

<app-about-modal></app-about-modal>