@use './styles/variables';

@use './styles/typography';

@use './styles/buttons';

@use './styles/cards';

@use './styles/layout';

@use './styles/animations';

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    background:var(--rsl-background);

    color:var(--rsl-dark);

}